# backend
PGHOST=postgres
PGPORT=5432
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=events
JWT_SECRET=secret
JWT_REFRESH_SECRET=moresecret
SALT_ROUNDS=12

# frontend
VITE_API_URL=http://localhost:5000